# Scala
*.class
*.log

# IDE
*.code-workspace
.DS_Store

# Python
__pycache__/
*.pyc
*.pyi
*.pyd
*.pyo

# Build files
target

# Misc
metals.sbt

# Python
*.pyc
__pycache__/

# Hidden files
.*
!.github

# temporary binary files
temp
gensort
tmp*